.all p{
	margin: 0;
}
div.paper{
	position: relative;
	background-color: #fff;
	margin: 4mm auto;
}
div.face{
	position: absolute;
}
.allV div.paper{
	writing-mode: tb-rl;
}
.allV div.paper .rotated, .allV div.paper .horizontal{
	writing-mode: lr-tb;
}
span.char{
	position: absolute;
	width: auto;
}
span.ruby{
	width: auto;
}
span.testspan{
	background: #fff;
	color: #eee;
}

