html{
	font-size: 2.5vmin;
}
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}
body{
	background: #ccc;
	overflow-y: scroll;
}
p{
	margin: 0;
}
#allH{
	left: 0;
}
#allV{
	top: 0;
	right: 0;
}
div.paper{
	position: relative;
	background-color: #fff;
	margin: 0 auto;
}
div.face{
	position: absolute;
}
#allV div.paper{
	writing-mode: tb-rl;
}
#allV div.paper .rotated, #allV div.paper .horizontal{
	writing-mode: lr-tb;
}
span.char{
	position: absolute;
	width: auto;
}
span.ruby{
	width: auto;
}
span.testspan{
	background: #fff;
	color: #eee;
}

