.kh3-all p{
	margin: 0;
}
.kh3-paper{
	position: relative;
	background-color: #fff;
	margin: 4mm auto;
}
.kh3-face{
	position: absolute;
}
.kh3-allV .kh3-paper{
	writing-mode: tb-rl;
}
.kh3-allV .kh3-paper .kh3-rotated, .kh3-allV .kh3-paper .kh3-horizontal{
	writing-mode: lr-tb;
}
span.kh3-char{
	position: absolute;
	width: auto;
}
span.kh3-ruby{
	width: auto;
}
span.kh3-testspan{
	background: #fff;
	color: #eee;
}

